{% extends "base.html" %}

{% block content %}
  
  {% if page.meta.keywords %}
    <nav class="md-tags" style="margin-bottom: 1rem;">
      {# Handle if it is a List (from List Widget) #}
      {% if page.meta.keywords is iterable and page.meta.keywords is not string %}
        {% for keyword in page.meta.keywords %}
          <span class="md-tag">{{ keyword }}</span>
        {% endfor %}
      
      {# Handle if it is a String (from Text Widget) #}
      {% else %}
        <span class="md-tag">{{ page.meta.keywords }}</span>
      {% endif %}
    </nav>
  {% endif %}

  {{ super() }}

{% endblock %}