site_name: Milenij Dokumentacija
site_url: https://matijamurk.github.io/milenij-dokumentacija/
copyright: "Copyright &copy; 2025. Milenij d.o.o. - Sva prava pridržana. | Verzija: GIT_HASH"


hooks:
  - hooks.py
theme:
  name: readthedocs
  custom_dir: overrides
  language: hr # Change to 'hr' for Croatian if needed
  logo: assets/images/logo.png
  favicon: assets/images/logo.png
  features:
    - navigation.instant # Makes clicking links feel instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    #- navigation.expand   # Adds the arrow icon to expand/collapse
    - navigation.indexes
    - navigation.top
    - navigation.path
    - search.suggest
    - search.highlight 
  palette:
  - media: "(prefers-color-scheme: light)" 
    scheme: default
    primary: dark blue # Change this to match your brand color
    accent: orange
    toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

  - media: "(prefers-color-scheme: dark)"
    scheme: slate   # 'slate' is the name of the dark theme
    primary: black 
    accent: blue
    toggle:
      icon: material/weather-night
      name: Switch to light mode
  
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
  - tags
  
extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://milenij.hr
      name: Naša web stranica
    - icon: fontawesome/solid/envelope
      link: mailto:info@milenij.hr
      name: Kontaktirajte nas
  generator: false