/* Force ALL tags to be Blue */
.md-typeset .md-tag {
    background-color: #3f51b5 !important; /* Indigo Blue */
    color: white !important;
    opacity: 1 !important;
    border: none;
}

/* Make them slightly lighter when hovered */
.md-typeset a.md-tag:hover {
    background-color: #5c6bc0 !important; 
    color: white !important;
}

/* Ensure icons inside tags are white */
.md-typeset .md-tag__icon {
    color: white !important;
}
.md-top {
    /* Forces the browser to use the GPU to render this element */
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
}