backend:
  name: github
  repo: matijamurk/milenij-dokumentacija # e.g. marko/my-docs
  branch: main # or master
  base_url: https://api.netlify.com # Uses Netlify's free auth bridge
  auth_endpoint: auth

media_folder: "docs/assets/images"
public_folder: "/assets/images"

# This allows you to publish instantly without approval draft steps
publish_mode: editorial_workflow

collections:
  - name: "docs"
    label: "Documentation"
    folder: "docs" # Monitors the docs folder
    create: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}