backend:
  name: git-gateway
  repo: matijamurk/milenij-dokumentacija
  branch: main
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/52bcc5a8-1773-4be2-9a89-f2f8ab332807/pkce
  auth_token_endpoint: /sites/52bcc5a8-1773-4be2-9a89-f2f8ab332807/token
  gateway_url: https://gateway.decapbridge.com


media_folder: "docs/assets/images"
public_folder: "/assets/images"

commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge


# This allows you to publish instantly without approval draft steps
publish_mode: editorial_workflow

collections:
  # 1. The "Category Creator" (Hidden Helper)
  # This lets you create new folders visually
  - name: "categories"
    label: "Manage Categories"
    folder: "docs/_categories" # Stores category names in a hidden folder
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Category Name", name: "title", widget: "string"}
      - {label: "Description", name: "body", widget: "markdown", required: false}

  # 2. The Real Documentation
  - name: "docs"
    label: "Documentation"
    folder: "docs"
    create: true
    # THIS IS THE MAGIC LINE:
    # It tells the CMS: "Put this file inside the folder named after the category"
    slug: "{{category}}/{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      # This creates a dynamic dropdown that pulls from the list above
      - label: "Category"
        name: "category"
        widget: "relation"
        collection: "categories"
        search_fields: ["title"]
        value_field: "slug"
        display_fields: ["title"]
      - {label: "Body", name: "body", widget: "markdown"}