backend:
  name: git-gateway
  repo: MatijaMurk/milenij-dokumentacija # e.g. marko/my-docs
  branch: main # or master
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/52bcc5a8-1773-4be2-9a89-f2f8ab332807/pkce
  auth_token_endpoint: /sites/52bcc5a8-1773-4be2-9a89-f2f8ab332807/token
  gateway_url: https://gateway.decapbridge.com

media_folder: "docs/assets/images"
public_folder: "/assets/images"

commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge


# This allows you to publish instantly without approval draft steps
publish_mode: editorial_workflow

collections:
  - name: "docs"
    label: "Documentation"
    folder: "docs" # Monitors the docs folder
    create: true
    nested:
      depth: 10 # Allows up to 10 levels of subfolders
      summary: '{{title}}'
    # vvv ADD THIS SECTION vvv
    meta: { path: { widget: string, label: 'Path', index: true } }
    # ^^^ THIS ENABLES FOLDER CREATION ^^^
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}